# PostgreSQL Database
POSTGRES_USER=readease_admin
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=readease_db
DB_HOST=postgres
DB_PORT=5432

# Redis Cache (Cho luồng WebSocket tọa độ chuột)
REDIS_HOST=redis
REDIS_PORT=6379

# Backend / ML Service
BACKEND_PORT=3000
ML_SERVICE_PORT=8000